<div id="createCustomerModal" class="modal fade" role="dialog" aria-labelledby=" " aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fontDroidBold pdr20" id="createCustomerTitle">إضافة عميل</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="lds-ellipsis hidden">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                <form class="" id="frmCreateCustomer" method="POST">

                    <div class="field-row nopd" style="grid-template-columns:15% 85%;">
                        <div class="field-cell eleBlk" style="display: inherit">
                            <label for="">الاسم كامل</label>
                            <label for="customerType">نوع العميل</label>
                            <label for="idType">نوع الاثبات</label>
                            <label for="idNum">رقم الاقامة</label>
                            <label for="expDate">تاريخ الانتهاء</label>
                            <label for="workPhone">هاتف العمل</label>
                            <label for="email">الايميل</label>
                            <label for="address">العنوان</label>
                            <label for="spicialNotes">ملاحظات خاصة</label>
                            <label for="notes">ملاحظات</label>
                        </div>
                        <div class="field-cell ">
                            <div class="field-row nopd" style="display: flex">
                                <div class="wrap-input100 validate-input fontDroid" data-validate="الاسم الاول مطلوب">
                                    <input type="text" class="input100 combobox" name="firstName" placeholder="الاسم الاول">
                                    <span class="focus-input100"></span>

                                </div>
                                <div class="wrap-input100 validate-input fontDroid" data-validate="الاسم الاب مطلوب">
                                    <input type="text" class="input100 combobox" name="secondName" placeholder="اسم الاب">
                                    <span class="focus-input100"></span>

                                </div>
                                <div class="wrap-input100 validate-input fontDroid" data-validate="الاسم الثالث مطلوب">
                                    <input type="text" class="input100 combobox" name="thirdName" placeholder="اسم الجد">
                                    <span class="focus-input100"></span>

                                </div>
                                <div class="wrap-input100 validate-input fontDroid" data-validate="اللقب مطلوب">
                                    <input type="text" class="input100 combobox" name="lastName" placeholder="اللقب">
                                    <span class="focus-input100"></span>
                                </div>

                            </div>
                            <div class="field-row nopd">
                                <table>
                                    <tr>
                                        <td>
                                            <select class="input100 combobox" name="customerType" id="customerType">
                                                <option value="اختر">
                                                    اختر
                                                </option>

                                                <% if(settings[0]){settings[0].customerTypes.forEach(type => { %>
                                                    <option value=<%=type %> >
                                                        <%= type  %>
                                                    </option>
                                                    <% })} %>
                                            </select>
                                        </td>
                                        <td class="fltl pdl10">
                                            <label for="nationality">الجنسية </label>
                                        </td>
                                        <td>
                                            <select class="input100 combobox" name="nationality" id="nationality">
                                                <option value="يمني">يمني</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="input100 combobox" name="idType" id="idType">
                                                <% if(settings[0]){settings[0].idTypes.forEach(type => { %>
                                                    <option value=<%=type %> >
                                                        <%= type  %>
                                                    </option>
                                                    <% })} %>
                                            </select>
                                        </td>
                                        <td class="fltl pdl10">
                                            <label for="cardCopyNum">نسخة البطاقة</label>
                                        </td>
                                        <td>
                                            <select class="input100 combobox" name="cardCopyNum" id="cardCopyNum">
                                                <% for(i=1;i<=25;i++) { %>
                                                    <option value=<%=i %> >
                                                        <%=i %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="wrap-input100 validate-input fontDroid" data-validate="رقم الهوية مطلوب">
                                                <input class="input100 combobox" type="text" name="idNum">
                                                <span class="focus-input100"></span>
                                            </div>
                                        </td>
                                        <td class="fltl pdl10">
                                            <label for="issuingPlace">مكان الاصدار</label>
                                        </td>
                                        <td>
                                            <div class="wrap-input100 validate-input fontDroid" data-validate="مكان الاصدار مطلوب">
                                                <input class="input100 combobox" type="text" name="issuingPlace">
                                                <span class="focus-input100"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="wrap-input100 fontDroid">

                                                <input class="input100 combobox" type="date" name="expDate" dir="ltr">
                                                <span class="focus-input100"></span>
                                            </div>
                                        </td>
                                        <td class="fltl pdl10">
                                            <label for="phone">رقم الجوال</label>
                                        </td>
                                        <td>
                                            <div class="wrap-input100 validate-input fontDroid" data-validate="رقم الجوال مطلوب">
                                                <input class="input100 combobox" type="text" name="phone">
                                                <span class="focus-input100"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="wrap-input100 fontDroid">
                                                <input class="input100 combobox" type="text" name="workPhone">
                                                <span class="focus-input100"></span>
                                            </div>

                                        </td>
                                        <td class="fltl pdl10">
                                            <label for="wordPlace">مكان العمل</label>
                                        </td>
                                        <td>
                                            <div class="wrap-input100 fontDroid">
                                                <input class="input100 combobox" type="text" name="wordPlace">
                                                <span class="focus-input100"></span>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="wrap-input100 fontDroid">

                                                <input class="input100 combobox" type="text" name="email">
                                                <span class="focus-input100"></span>
                                            </div>
                                        </td>
                                        <td class="fltl pdl10">
                                            <label for="category">التصنيف</label>
                                        </td>
                                        <td>
                                            <select class="input100 combobox" name="category" id="category"></select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="field-row nopd">
                                <div class="wrap-input100 fontDroid">
                                    <input type="text" class="input100 combobox" style="height: 45px;" name="address">
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 fontDroid">
                                    <input type="text" class="input100 combobox" style="height: 45px;" name="specialNotes">
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 fontDroid">
                                    <input type="text" class="input100 combobox" style="height: 45px;" name="notes">
                                    <span class="focus-input100"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button id="btnCreateCustomerSave" type="submet" form="frmCreateCustomer" class="btn btn-primary">حفظ</button>
                <button id="btnCreateCustomerClose" type="button" form="frmCreateCustomer" class="btn btn-secondary formClose" data-dismiss="modal"> الغاء الأمر</button>
            </div>
        </div>
    </div>
</div>