<div id="customersReportModel" class="modal fade" role="dialog" aria-labelledby=" " aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fontDroidBold pdr20" id="AddRoomTitle">Template</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="frmTemplate" action="" method="POST">

                        <table id="tblReservations" class="wid100" >
                                
                        
                                            <thead>
                                                <tr class="tblHeader1">
                                                    <th colspan="6" class="wid100 fontDroid" style="background-color:#2c91b9;color:white;">تقرير العملاء </th>
                                                </tr>
                                                <tr class="tblHeader2">
                                                    <th>الاسم </th>
                                                    <th>نوع الرقم </th>
                                                    <th>الرقم </th>
                                                    <th>المكان </th>
                                                    <th>الهاتف </th>
                                                    <th> الايميل</th>
                            
                                                </tr>
                                            </thead>

                                            <tbody>


                                            <% customers.forEach(customer => { %>
                                                <tr class="tbldatarow">
                                                    <td data-title="Name"><%=customer.firstName %> <%=customer.secondName %> <%=customer.thirdName %> <%=customer.lastName %> </td>
                                                    <td data-title="ID Type"><%=customer.idType %></td>
                                                    <td data-title="ID Number"><%=customer.idNum %></td>    
                                                    <td data-title="ID Issue Place"><%=customer.issuingPlace %></td>
                                                    <td data-title="Mobile"><%=customer.phone %></td>
                                                    <td data-title="Email"><%=customer.email %></td>
                                                    
                                                </tr>
                                                <% }) %>



                                                
                                </tbody>
                            </table>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button id="" type="button" form="frmTemplate" class="btn btn-primary">طباعة</button>
                <button id="" type="button" class="btn btn-secondary" data-dismiss="modal"> الغاء الأمر</button>
            </div>
        </div>
    </div>
</div>










